/* Color Theme Swatches in Hex */
.Voyages-1-hex { color: #011F26; }
.Voyages-2-hex { color: #118C76; }
.Voyages-3-hex { color: #25D9B8; }
.Voyages-4-hex { color: #F2BB16; }
.Voyages-5-hex { color: #BF800B; }


/* General Elements */

.flex{
    display: flex;
}


/*David nv + present*/






/* Elodie Menu + resa */

.FoodMenuWrap{
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: :relative;
}

.FoodMenuBox {
    flex-direction: column;
    transform:rotate(-10deg);
    flex-shrink: 2;
    overflow: hidden;
    
}

.FoodMenuPic:hover {
    opacity: 0.7;
    cursor:pointer;
}

.FoodPicLegend {
    width: 80%;
    text-align: end;
}

@media screen and (max-width: 1100px) {






  }

/* Formulaire */




/* Elisa concert + footer-->*/

