/* Color Theme Swatches in Hex */
.Voyages-1-hex { color: #011F26; }
.Voyages-2-hex { color: #118C76; }
.Voyages-3-hex { color: #25D9B8; }
.Voyages-4-hex { color: #F2BB16; }
.Voyages-5-hex { color: #BF800B; }


/*David nv + present*/






/* Elodie Menu + resa */






/* Elisa concert + footer-->*/

